@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    font-weight: 800;
}

.navbar{
    background-color: black;
}

.navbar a{
    color: #fff;
    opacity: 0.9;
}

.navbar a:hover{
    color: #fff;
    opacity: 1;
}


.menu{
    display:flex;
    padding: 5px 50px;
}

.links{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 15px;
}

.btnNav{
    display: none;
    border: none;
    background: transparent;
    outline: none;
}

.btnNav i{
    color:#fff;
    font-size: 27px;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

main h5{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.carousel{
    width: 85%;
    height: 28rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.carousel img{
    width: 100%;
    border-radius: 10px;
}

.carrosVenda{
    display: flex;
    width: 70%;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login{
    background-color: #fff;
}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.modal-body input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.604);
    border-radius: 8px;
    padding: 8px;
    margin: 10px 0px;
}

.divButton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: .5rem;
}

.btnLogin{
    width: 80%;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    border: none;
}

.optionsLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 0rem;
}

.btnOptionLogin{
    width: 80%;
    padding: 10px;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    display: flex;
    border: none;
}

.btnOptionLogin i{
    margin-right: 1rem;
}

.modalHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
}

.modalHeader h5{
    font-weight: 800;
    font-size: 24px;
}

.modalHeader button{
    position: absolute;
    right: 1rem;
}

.inputSenha{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.inputSenha i{
    position: absolute;
    right: 1rem;
    cursor: pointer;
    font-size: 22px;
}

@media(max-width: 990px){
    .btnNav{
        display: block;    
    }

    .links{
        justify-content: center;
        margin-top: 1rem;
    }
}

@media(max-width: 900px){
    .carousel{
        height: auto;
    }
}

@media(max-width: 861px){
    .carrosVenda{
        width: 95%;
        gap: 20px;
    }
}

@media(max-width: 400px){
    .menu{
        padding: 5px 20px;
    }
}